/* Portfolio styling*/

*{
    padding:0;
    margin:0;
}

h1,h2,h3,h4{
    font-family: 'Varela Round', sans-serif;
}

p,a{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: #EB8A90;
    display:flex;
    justify-content: space-around;
    position:fixed;
    width:100%;
}

.logo{
    width:20%;
    display:inline;
}

ul li{
    width:60%;
    display:inline-block;
    margin:20px;
    width:100px;
}

li a{
    color:white;
    text-decoration: none;
}

#firstrow{
    background-color: white;
    min-height: 700px;
    display:flex;
    align-items: center;
    padding:20px;
}

#pic{
    /* width:100%; */
    border-radius: 50% 50%;
    height:400px;
    width:400px;
}

#intro{
    min-height: 300px;
    padding:20px 50px;
    margin:20px;
}

#intro > h4{
    font-size: 60px;
}

#name{
    color:#EB8A90
}

.btn{
    font-family: 'Montserrat', sans-serif;
}

.iconic{
    font-family: 'Montserrat', sans-serif;
}

#btnabout{
    background-color: white;
    border:2px solid #EB8A90;
    color:#EB8A90;
    margin:10px;
    padding:10px;
    font-size: 26px;
    min-width: 200px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    transition-timing-function: linear;
}

#btnabout:hover{
    background-color: #EB8A90;
    border:2px solid black;
    color:white;
}

/* #btnskills{
    background-color: white;
    border:2px solid #EB8A90;
    color:#EB8A90;
    margin:10px;
    padding:10px;
    font-size: 26px;
    min-width: 200px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    transition-timing-function: linear;
}

#btnskills:hover{
    border:2px solid black;
    color:#EB8A90;
} */

#secondrow{
    background-color: #EB8A90;
    padding:20px;
}

#secondrow2{
    display:flex;
    justify-content: space-evenly;
}

.writeup{
    padding:20px;
    font-size:26px;
    color:white;
    text-align: center;
}

#mypic{
    width:40%;
    padding:30px;
    margin:10px;
}

#gallery{
    display:flex;
    flex-direction: column;
}

#gal1{
    flex:30%;
    padding:5px;
    width:100px;
    height:100px;
}

#gal2{
    flex:30%;
    padding:5px;
    width:100px;
    height:100px;
}

#gal3{
    flex:30%;
    padding:5px;
    width:100px;
    height:100px;
}

#aboutme{
    margin:20px;
    padding:20px;
    width:55%;
}

#aboutme > p{
    font-size: 24px;
    color:white;
    font-weight: 400px;
}

#thirdrow{
    background-color:white;
    padding:20px;
}

.title{
    text-align: center;
    font-size: 26px;
    font-weight: 600px;
    color: black;
    padding:20px;
    margin:20px;
}

.thirdrow2{
    display:flex;
    justify-content: space-evenly;
    padding:20px;
    margin:10px;
    min-height: 300px;
}

.skills > p{
    font-size: 30px;
    line-height: 3;
}

#fourthrow{
    background-color: #EB8A90;
    padding:40px 60px 30px 60px;
    min-height: 200px;
    text-align: center;
}

#goup > a{
    color:white;
    font-size:40px;
}

.contact{
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 26px;
    line-height: 1.5;
    color:white;
}

#mailme{
    background-color: white;
    border:2px solid #EB8A90;
    color:#EB8A90;
    margin:5px;
    padding:5px;
    font-size: 20px;
    min-width: 50px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    transition-timing-function: linear;
}

#mailme:hover{
    background-color: #EB8A90;
    border:2px solid black;
    color:white;
}

#icons{
    text-align: center;
    padding: 5px;
    margin: 5px;
    width:30%;
    line-height: 1.5;
    align-items: center;
}

#icons > a{
    font-size: 25px;
    color: white;
    margin: 5px 5px;
}

#last{
    width:40%;
    text-align:left;
    color:white;
    padding: 20px;
    line-height: 1;
    font-size: 18px;
}

#footer{
    background-color: black;
    /* min-height: 70px; */
    display:flex;
    justify-content: space-around;
}

@media screen and (max-width:600px){
    .navbar{
        display:flex;
        flex-direction: column;
    }
    /* .menu{
        display:flex;
        flex-direction: column;
    } */
    #firstrow{
        display: flex;
        flex-direction: column;
    }
    #pic{
        width:200px;
        height: 200px;
    }
    #intro{
        font-size: 20px;
    }
    #secondrow2{
        display: flex;
        flex-direction: column;
    }
    #thirdrow2{
        display: flex;
        flex-direction: column;
    }
    .contact{
        display: flex;
        flex-direction: column;
    }
    #icons{
        display: flex;
        flex-direction: column;
    }
    #last{
        display: flex;
        flex-direction: column;
    }
}